<h1>
    Amber King
</h1>

<form onsubmit={{insert "The Works"}}>
  <div class="form-group">
    <label>Burger Input</label>
    <input type=" text " class="form-control" placeholder="Burger Input">
    <small id="emailHelp" class="form-text text-muted">We'll never share your burger with anyone else.</small>
  </div>
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>